@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fcf8ff;
}
header {
  overflow: hidden;
  height: 730px;
  clip-path: polygon(0 0, 100% 0%, 100% 93%, 51% 100%, 0 93%);
  background-color: #24053e;
  position: relative;
}
nav {
  min-height: 50px;
  /* background-color: rgb(47, 0, 255); */
  display: flex;
  justify-content: space-between;
  padding: 58px 165px;
}
.apply {
  border-bottom: 3px solid #44ffa1;
  padding-bottom: 5px;
  font-family: "Manrope", sans-serif;
  color: white;
}
.site-title {
  color: white;
  /* background-color: rgb(128, 112, 202); */
  text-align: center;
  h1 {
    margin-bottom: 37px;
    font-family: Fraunces;
    font-weight: 600;
    font-size: 80px;
    /* line-height: 80px; */
  }
  span {
    border-bottom: 3px solid #44ffa1;
  }
  button {
    padding: 16px 32px;
    color: #24053e;
    background-color: #44ffa1;
    border: none;
    font-family: "manrope";
    font-weight: 700;
    font-size: 18px;
  }
}
.spiral-left {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: -125px;
}
.spiral-rigt {
  position: absolute;
  top: 330px;
  right: -50px;
  z-index: 1;
}
.smart {
  background-color: aqua;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    width: 715px;
    margin-top: -200px;
    position: absolute;
  }
}
.texsts {
  min-height: 100px;
  /* background-color: rgb(216, 23, 23); */
  padding-top: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding-bottom: 171px;
}
.box {
  width: 354px;
  min-height: 50px;
  /* background-color: #44ffa1; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 56px;
    height: 56px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 56px;
    font-family: Fraunces;
    font-weight: 600;
    font-size: 24px;
    color: #24053e;
  }
  h2 {
    margin-bottom: 28px;
    font-family: Fraunces;
    font-weight: 600;
    font-size: 32px;
    color: #24053e;
  }
  p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #24053e;
  }
}
.bot {
  clip-path: polygon(
    42% 14%,
    62% 14%,
    80% 10%,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    26% 11%
  );
  min-height: 100px;
  background-color: white;
  padding-top: 295px;
  display: flex;
  padding-right: 165px;
  justify-content: end;
  position: relative;
  padding-bottom: 123px;
}
.founder {
  width: 450px;
  height: 453px;
  position: absolute;
  z-index: -1;
  left: 162px;
  bottom: 250px;
  img {
    width: 100%;
    height: 100%;
  }
}
.founder-content {
  max-width: 730px;
  /* height: 413px; */
  background-color: #24053e;
  padding: 64px;
  color: white;
  position: relative;
  h2 {
    margin-bottom: 32px;
    font-family: "Fraunces 144pt";
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 114.286% */
  }
  p {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: white;
    font-family: "Manrope", sans-serif;
    margin-bottom: 32px;
  }
  button {
    padding: 16px 25px;
    background-color: #44ffa1;
    border: 0;
    color: #24053e;
    color: var(--Dark-Purple, #24053e);
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 177.778% */
    letter-spacing: -0.18px;
  }
  button:hover {
    background-color: #24053e;
    border: 1px solid #44ffa1;
    color: #44ffa1;
    cursor: pointer;
  }
}
.spiral-bot {
  position: absolute;
  z-index: 1;
  right: 72px;
  top: 263px;
}
footer {
  background-color: white;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  img {
    width: 95.61px;
    height: 24.61px;
  }
}

.cotial-icone {
  margin-top: 57px;
  display: flex;
  gap: 28px;
}
